body{
    margin:0;
    font-family: 'Open Sans','Oen Sans Regular',sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #282A35;
}
.container{
    display: flex;
    flex-direction: column;
    width:500px;
    padding: 20px;
    border-radius:5px;
    margin: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    background: #f2f2f2;
}
.heading{
    font-size:35px;
    margin-left:20px;
}
span{
   font-size:20px;
   margin: 10px 15px;
   
}
input{
    padding: 10px 5px;
    font-size:20px;
    background: #ffffff;;
    border-radius:8px;
    border-color: rgba(255,255,255,0.7);
    margin: 15px;
}
.calculate{
    border:none;
    margin:15px;
    background:#1EA5EF;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight:600;
    font-size:22px;
    cursor: pointer;
}
.calculate:hover{
    background: #785BF8;
}
.weight-output{
    margin:17px;
    font-size:20px;
    font-weight:600;

}